*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu{
    background-color: #081621;
    text-align: center;
    position: sticky;
    top: 0;

}
#menu a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px;
}
#menu a:hover{
    color: #fff;
    background-color: blue;
    text-decoration: underline;
}
#text h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: black;
    font-size: 23px;
    padding-bottom: 15px;
}
#text p{
    text-align: justify;
    font-family: sans-serif;
}
#parent-div{
    position: relative;
    background-color: orange;
    width: 25%;
    text-align: center;

}
#parent-div img{
    width: 100%;
}
#overlay{
    top: 100px;
    left: 50px;
    position: absolute;
    background-color: red;
    transform: scale(0);
    transition: 1s;
     
}
#overlay:hover{
    transform: scale3d(1);
}
#parent-div:hover #overlay{
    transform: scale(1);
}
#paragraph p{
    text-align: justify;
}
#chat{
    font-size: 20px;
    background-color: red;
    padding: 10px 15px;
    position: fixed;
    right: 0;
    bottom: 0;


}

